/* 
.body {
    background-color: lightblue;
  }
  

h2{
    margin: 0 50px;
    font-size: 100px;
    color: violet;
}

button{
    
    width: 70px;
    height: 50px;
    outline: none;
    border-style: 50px;
    background-color: wheat;
    box-shadow: 8px 8px 20px;
} */


